.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 2em;
}

.Main h1 {
    font-size: 1.5em;
}

.Main .Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-top: 1em;
}

.Container span {
    font-size: 1.3em;
    margin: 0.3em 0;
    line-height: 1.5;
    text-align: left;
}

.LinkEle {
    position: relative;
    align-items: center;
    display: inline-flex;
    color: rgb(180, 130, 251);
}

.LinkEle::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgb(180, 130, 251);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.25s ease;
}

.LinkEle:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}