.Main {
    margin: 3em 15% 2em 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
}

.Main h1 {
    font-size: 1.5em;
    text-align: center;
    cursor: default;
}

.Container {}

.Container .ViewMedium {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* View More on Medium */
.ViewMedium h3 {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 1.2em;
    font-weight: 400;
}

.ViewMedium .NextArrowImg {
    transition: transform 0.5s ease;
}

.ViewMedium:hover .NextArrowImg {
    transform: translate(3px, 0);
}



/* MEDIA QUERIES */
/* SMALL MOBILE DEVICES OR FOR EXPREMENTING PEOPLE */
@media screen and (min-width: 0px) and (max-width: 360px) {}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {

}


/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .Main {
        margin: 3em 0 2em 0;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) {}