.Page {
  margin: 5em 12% 4em 12%;
  cursor: default;
}

.Main {
  display: flex;
  gap: 8em;
  align-items: center;
}

.Left_Main {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.Left_Main h1 {
  font-size: 2.8em;
}

.Left_Main p {
  color: #bbb;
  font-size: 1.2em;
  font-weight: 500;
}

.Left_Main p:last-child {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.4;
  font-weight: 400;
}

.Project_Section {
  margin-top: 8em;
}

.Contact_Section {
  margin-top: 8em;
}

.Project_Section h1,
.Contact_Section h1 {
  margin-bottom: 0.8em;
  font-size: 1.5em;
}

.View_Project {}

.Project_Section h3 {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 2px;
  font-size: 1.2em;
  font-weight: 400;
}

.Project_Section .View_Project .NextArrowImg,
.Blog_Section .View_Project .NextArrowImg {
  transition: transform 0.5s ease;
}

.Project_Section .View_Project:hover .NextArrowImg,
.Blog_Section .View_Project:hover .NextArrowImg {
  transform: translate(3px, 0);
}

.Blog_Section {
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 8em;
}

.Blog_Section h1 {
  margin-bottom: 0.8em;
  font-size: 1.5em;
}

.Blog_Section div {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 2em;
}

.Blog_Section .View_Project {
  /* display: flex; */
}

.Blog_Section .View_Project h3 {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.2em;
  font-weight: 400;
}

.Contact_Section p {
  display: flex;
  align-items: center;
}

.Contact_Section p .EmailID {
  color: rgb(180, 130, 251);
}

.Contact_Section p .EmailID:hover {
  transition: all 600ms ease;
  color: rgb(202 167 253);
}

/* MEDIA QUERIES */
/* SMALL MOBILE DEVICES OR FOR EXPREMENTING PEOPLE */
@media screen and (min-width: 0px) and (max-width: 360px) {
  .Page {
    margin: 2em 5%;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Main {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1em;
  }

  .Right_Main img {
    width: 120px;
  }

  .Left_Main h1 {
    margin-top: 1em;
    font-size: 1.5em;
  }

  .Left_Main p {
    font-size: 1em;
  }

  .Left_Main p:last-child {
    font-size: 1em;
  }

  .Project_Section,
  .Blog_Section,
  .Contact_Section {
    margin-top: 3em;
  }

  .Blog_Section .row_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Contact_Section {
    align-self: flex-start;
  }

  .Contact_Section p {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .Contact_Section p .EmailID {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
  .Page {
    margin: 2em 5%;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Main {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1em;
  }

  .Right_Main img {
    width: 120px;
  }

  .Left_Main h1 {
    margin-top: 1em;
    font-size: 1.5em;
  }

  .Left_Main p {
    font-size: 1em;
  }

  .Left_Main p:last-child {
    font-size: 1em;
  }

  .Project_Section,
  .Blog_Section,
  .Contact_Section {
    margin-top: 5em;
  }

  .Blog_Section .row_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Contact_Section {
    align-self: flex-start;
  }

  .Contact_Section p {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .Contact_Section p .EmailID {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .Page {
    margin: 3em 5%;
    cursor: default;
  }

  .Main {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1em;
  }

  .Right_Main img {
    width: 150px;
  }

  .Left_Main h1 {
    font-size: 1.8em;
  }

  .Left_Main p {
    font-size: 1.2em;
  }

  .Left_Main p:last-child {
    font-size: 1.2em;
  }

  .Project_Section,
  .Blog_Section,
  .Contact_Section {
    margin-top: 5em;
  }

  .Blog_Section {
    align-self: center;
    justify-self: center;
  }

  .Blog_Section .row_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Contact_Section {
    align-self: flex-start;
  }

  .Contact_Section p {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .Contact_Section p .EmailID {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

/* SMALL SCREEN AND LAPTOP (LIKE ME!! LOL🤣) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .Page {
    margin: 5em 5% 5em 5%;
    cursor: default;
  }

  .Main {
    gap: 1em;
  }

  .Blog_Section .row_1 {
    flex-wrap: wrap;
  }
}