.Main {
    display: flex;
    align-items: start;
    gap: 1.5em;
    width: 60%;

    background: rgba(255, 255, 255, 0.053);
    box-shadow: 0 8px 27px 0 rgb(19 10 32);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: default;

    margin: 0 0 2em 0;
    padding: 1em 1.2em;
}

.Main .ProjectImgLink .Img {
    border-radius: 0.75rem;
    transition: filter 0.3s ease-in-out;
}

.Main .ProjectImgLink .Img:hover {
    filter: brightness(50%);
}

.Main .ProjectDetails {
    align-self: self-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.2em 0;

    display: grid;
    grid-template-rows: auto 1fr;
}

.ProjectDetails div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    grid-row: 1;
}

.ProjectDetails div:last-child {
    grid-row: 2;
}

.ProjectDetails .Project_Name {
    color: #f3f3f3;
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 0.2em;
}

.ProjectDetails .Project_Desc {
    overflow-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    color: #bbb;
}

.ProjectDetails .Link {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 2em;
    color: #bbb;
}

.Link .Github_Repo,
.Link .Site_Name {
    display: flex;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
}

.ProjectDetails .LearnMore {
    display: inline-block;
}

.ProjectDetails .LearnMore p {
    font-size: 1em;
    color: #f3f3f3;
}

/* MEDIA QUERIES */
/* SMALL MOBILE DEVICES OR FOR EXPREMENTING PEOPLE */
@media screen and (min-width: 0px) and (max-width: 360px) {
    .Main {
        width: 250px;
        height: auto;
        flex-direction: column;
        padding: 1em 1.5em;
    }

    .ProjectDetails .Project_Desc {
        word-wrap: break-word;
    }

    .Main .ProjectImgLink .Img {
        width: 200px;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .ProjectDetails div:last-child {
        margin: 0.5em 0;
        align-self: flex-start;
    }

    .ProjectDetails .Link {
        flex-direction: column;
        gap: 0.2em;
    }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .Main {
        width: 320px;
        height: auto;
        flex-direction: column;
        padding: 1em 1.5em;
    }

    .ProjectDetails .Project_Desc {
        word-wrap: break-word;
    }

    .Main .ProjectImgLink .Img {
        width: 270px;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .ProjectDetails div:last-child {
        margin: 0.5em 0;
        align-self: flex-start;
    }

    .ProjectDetails .Link {
        flex-direction: column;
        gap: 0.2em;
    }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 650px) {
    .Main {
        width: 440px;
        height: auto;
        flex-direction: column;
        padding: 1em 1.5em;
    }

    .ProjectDetails .Project_Desc {
        word-wrap: break-word;
    }

    .Main .ProjectImgLink .Img {
        width: 385px;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .ProjectDetails .Link {
        gap: 2em;
    }
}

@media screen and (min-width: 650px) and (max-width: 768px) {
    .Main {
        width: 440px;
        height: auto;
        flex-direction: column;
        padding: 1em 1.5em;
    }

    .ProjectDetails .Project_Desc {
        word-wrap: break-word;
    }

    .Main .ProjectImgLink .Img {
        width: 385px;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .ProjectDetails .Link {
        gap: 2em;
    }
}

/* SMALL SCREEN AND LAPTOP (LIKE ME!! LOL🤣) */
@media screen and (min-width: 769px) and (max-width: 859px) {
    .Main {
        width: 100%;
        height: auto;
    }

    .ProjectDetails .Project_Desc {
        word-wrap: break-word;
    }

    .ProjectDetails .Link {
        margin-top: 0.5em;
        flex-direction: column;
        font-size: 15px;
        align-items: flex-start;
        gap: 0em;
    }

    .ProjectDetails .LearnMore {
        margin-top: 0.8em;
    }
}

@media screen and (min-width: 860px) and (max-width: 1024px) {
    .Main {
        width: 100%;
        height: auto;
    }

    .ProjectDetails .Project_Desc {
        word-wrap: break-word;
    }

    .ProjectDetails .Link {
        margin-top: 0.5em;
        gap: 2em;
    }

    .ProjectDetails .LearnMore {
        margin-top: 0.8em;
    }
}

/* DESKTOP AND LARGE SCREEN */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .Main {
        width: 85%;
    }
}

/* EXTRA LARGE SCREENS & TV */
@media screen and (min-width: 1201px) {
    .Main {
        width: 80%;
    }
}