.Nav {
  cursor: default;
  margin: 1.5em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Left_Nav {
  font-size: 1em;
}

.Left_Nav span {
  font-size: 0.8em;
  color: #bbb;
}

.current_page {
  color: #22bb44;
  font-weight: 500;
}

.Right_Nav .List {
  display: flex;
  gap: 0.8em;
  list-style-type: none;
  color: #7d8493;
}

.Right_Nav .List .Items {
  color: #bbbbbb;
  padding: 3px 12px;
  border-radius: 5px;
}

.Right_Nav .List .Items:hover {
  transition: all 600ms ease;
  background-color: rgb(255 255 255 / 6%);
}

/* STYLES ON NAV ITEMS WHEN THEY ARE ON THEIR SPECIFIC PAGES */
.active_nav {
  padding: 3px 12px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}
