.Nav {
  cursor: default;
  margin: 1.5em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Left_Nav {
  font-size: 1em;
}

.Left_Nav span {
  font-size: 0.8em;
  color: #bbb;
}

.current_page {
  color: #22bb44;
  font-weight: 500;
}

.Right_Nav .List {
  display: flex;
  gap: 0.8em;
  list-style-type: none;
  color: #7d8493;
}

.Right_Nav .List .Items {
  color: #bbbbbb;
  padding: 3px 12px;
  border-radius: 5px;
}

.Right_Nav .List .Items:hover {
  transition: all 600ms ease;
  background-color: rgb(255 255 255 / 6%);
}

/* STYLES ON NAV ITEMS WHEN THEY ARE ON THEIR SPECIFIC PAGES */
.active_nav {
  padding: 3px 12px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

/* MEDIA QUERIES */
/* SMALL MOBILE DEVICES OR FOR EXPREMENTING PEOPLE */
@media screen and (min-width: 0px) and (max-width: 360px) {
  .Nav {
    margin: 1.5em 0;
    justify-content: center;
  }

  .Left_Nav {
    display: none;
  }

  .Right_Nav .List {
    gap: 0;
    font-size: 0.5em;
  }

  .Right_Nav .List .Items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Right_Nav .List .Items li {
    font-weight: 600;
    text-align: center;
  }
}

/* AVERAGE MOBILE DEVICES  */
@media screen and (min-width: 360px) and (max-width: 400px) {
  .Nav {
    margin: 1.5em 0;
    justify-content: center;
  }

  .Left_Nav {
    display: none;
  }

  .Right_Nav .List {
    gap: 0;
    font-size: 0.7em;
  }

  .Right_Nav .List .Items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Right_Nav .List .Items li {
    text-align: center;
    font-weight: 600;
  }
}

@media screen and (min-width: 401px) and (max-width: 480px) {

  .Nav {
    margin: 1.5em 0;
    justify-content: center;
  }

  .Left_Nav {
    display: none;
  }

  .Right_Nav .List {
    gap: 0;
    font-size: 0.87em;
  }

  .Right_Nav .List .Items li {
    text-align: center;
    font-weight: 600;
  }
}

/* IPADS AND TABLETS  */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .Nav {
    margin: 1.5em 0;
    justify-content: center;
  }

  .Left_Nav {
    display: none;
  }

  .Right_Nav .List {
    gap: 0.5em;
  }
}